* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  ::-webkit-scrollbar {  /*oculta el la barra de scroll*/
    display: none;
}

/* Desktop Mode */
.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
      "sidebar head"
      "sidebar main"
      "foot foot";
    grid-template-rows: 50px 1fr 90px;
    grid-template-columns: 1fr 6fr;
  }

  /* HEADER */
  .page > header {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262625;;
  }
  .navbar {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .iconodrop  {
    width: 20px;
    fill: white;
  }
  .categorias, .ordenar_por {
   border: 2px solid #DDDDDD;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 300px;
   padding-left: 10px;
  }
  .form input {
    padding-left: 20px;
    border-radius: 10px;
    border: 2px solid #037fbd;
    width: 400px;
    height: 30px;
  }
  .form button {
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(193, 193, 193);
  }
  
  /* Sidebar MENU */
  
  .page > sidebar {
    grid-area: sidebar;
    background-color: #3B3C3E;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 50px;
  }
  .menu ul li {
    font-weight: 300;
    list-style: none;
    font-size: 30px;
    color: #DDDDDD;
  }
  .menu ul li:hover {
    background-color: #333;
    color: #fff;
    width: 200px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease-out;
  }
  a {
    text-decoration: none;
  }

  .logo_dan {
    width: 100px;
    height: auto;
    animation: color 4s infinite;
  }
  @keyframes color {
    0%   {background: white;}
    25%  {background: black;}
    50%  {background: white;}
    75%  {background: black;}
    100% {background: white;}
  }

  /* MAIN - Galeria */
  .page > main {
    grid-area: main;
    background-color: #DDDDDD;
  }
  .foto {
    height: auto;
    width: 280px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
 .foto:hover {
    position: relative;
    top: -25px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.5s ease-out;
  } 
  .foto:active {
    transform: scale(1.35);
    position: relative;
    top: 50px;
  }
  .fotox:active {
    transform: scale(1.35);
    position: relative;
    top: 47px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 835px;
    column-gap: 15px;
    row-gap: 30px;
  }
  .column {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
  }
  
 .leyenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-bottom: 20px;
  text-align: center;
 }
 .leyenda h3 {
  padding-bottom: 10px;
  font-weight: 400;
}
.leyenda p {
  font-weight: 300;
}
  
  /* footer */
  .page > footer {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04090D;
    color: white;
    gap: 50px;
  }
  .footer_texto {
    font-size: 20px;
  }
  .rrss_links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
  .facebook, .instagram, .github {
    width: 30px;
    height: auto;
    fill: white;
  }
  .facebook:hover {
    fill: #037fbd;
  }
  .instagram:hover {
    fill: red;
  }
  .github:hover {
    fill: purple;
  }
 


  /* Version Mobile 576px*/

  @media (min-width: 375px) and (max-width: 576px) {
    .page {
      display: grid;

      grid-template-areas:
        "sidebar sidebar"
        "head head"
        "main main"
        "foot foot";
        grid-template-rows: 85px 50px 570px 70px;
        grid-template-columns: 1fr
    }

  /* sidebar MENU */

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
  }
  .logo_dan {
    width: 45px;
    height: auto;
   
  }
  .menu ul li {
    list-style: none;
    font-size: 20px;
  }
  
  /* header */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
  }
  .categorias, .ordenar_por {
    width: 200px;
   }
  .searchbar {
    display: none;
  }
  
 /* main */
 .row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 570px;
}
.foto, .menu ul li {
  pointer-events: none;
}


/* footer */
.page > footer {
  grid-area: foot;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  gap: 5px;
}

.rrss_links {
  justify-content: space-around;
  border-left: none;
  border-right: none;
}
.facebook, .instagram, .github {
  width: 20px;
  padding-top: 10px;
  fill: white;
}
.footer_texto {
  font-size: 15px;
  font-weight: 300;
}
  }

