* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Desktop Mode */
.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
      "sidebar head"
      "sidebar main"
      "foot foot";
    grid-template-rows: 50px 1fr 90px;
    grid-template-columns: 1fr 6fr;
  }

  /* HEADER */
  .page > header {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04090D;
  }
  .navbar {
    display: flex;
    width: 90%;
    justify-content: space-between;
    color: white;
  }

  .form input {
    padding-left: 20px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
  }
  .form button {
    height: 30px;
    width: 50px;
  }
  
  /* Sidebar */
  
  .page > sidebar {
    grid-area: sidebar;
    background-color: #E4CE9D;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 50px;
  }
  .menu ul li {
    list-style: none;
    font-size: 30px;
  }
  .menu ul li:hover {
    background-color: #333;
    color: #fff;
    width: 200px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease-out;
  }

  .logo_dan {
    width: 100px;
    height: auto;
  }

  /* MAIN - Galeria */
  .page > main {
    grid-area: main;
    background-color: #DDDDDD;
  }
  .foto {
    height: auto;
    width: 280px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
 .foto:hover {
    position: relative;
    top: -25px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.5s ease-out;
  } 
  .foto:active {
    transform: scale(1.5);
    position: relative;
    top: 70px;
  }
  .fotox:active {
    transform: scale(1.5);
    position: relative;
    top: -5px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 945px;
    column-gap: 15px;
    row-gap: 30px;
  }
  .column {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
  }
  
 .leyenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-bottom: 20px;
  text-align: center;
 }
 .leyenda h3 {
  padding-bottom: 10px;
}
  
  /* footer */
  .page > footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262625;
    color: white;
  }
  .rrss_links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .facebook, .instagram, .github {
    width: 30px;
    height: auto;
    fill: white;
  }


  /* VErsion Mobile 576px*/

  @media (min-width: 375px) and (max-width: 576px) {
    .page {
      display: grid;

      grid-template-areas:
        "sidebar sidebar"
        "head head"
        "main main"
        "foot foot";
        grid-template-rows: 85px 50px 570px 70px;
        grid-template-columns: 1fr
    }

  /* sidebar MENU */

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
  }
  .logo_dan {
    border: 1px solid black;
    width: 45px;
    height: auto;
   
  }
  .menu ul li {
    list-style: none;
    font-size: 20px;
  }
  
  /* header */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
  }
  
  .searchbar {
    display: none;
  }
  
 /* main */
 .row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 570px;
}
.foto, .menu ul li {
  pointer-events: none;
}


/* footer */
.page > footer {
  grid-area: foot;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  gap: 5px;
}


  }


